<a href="https://colab.research.google.com/github/joseaureliok/soulcode-martech-bootcamp-ad/blob/notebooks_aulas/aulas-resumos/02_resumo_AD2_fundamentos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FUNDAMENTOS DE PYTHON**

Este notebook foi elaborado no Google Colaboratory e posteriormente ajustado pelo VS Code, em forma de compilação dos principais pontos do apresentados durante o curso.

#### Bootcamp Martech em Análise de Dados - AD2
##### SoulCode Academy
##### Professores:
                Franciane Rodrigues
                Douglas Ribeiro
                Jonatas Carneiro
##### Acadêmico:
                José Aurelio Kovalczuk de Oliveira

## **TIPOS DE DADOS**

* **Lógica de programação** é a estruturação de conceitos e regras que orientam e execução do algoritmo.
* **Algoritmo** é a receita, ou seja, os comandos os comandos em um passo-a-passo claro e lógico que conduzem as ações para a resolução de um problema ou para atingir determinado objetivo.
* **Programa** é a implementação do algoritmo.

In [ ]:
# Primeiro passos em python, com texto (string) entre aspas duplas e aspas simples
print("Olá, Mundo!!!")

print('Olá, Mundo!!!')

# Comentários em python

    # comentários serão feitos ser por (#) antecedendo o texto ou código
    # vale dizer, aqui, que há o entendimento de que aspas triplas (''') são também uma forma de comentário, contudo elas são uma string, inserida em uma função para passar para o usuário uma especificação, informação ou orientação

# Quebra de linha com \n, pode ser exemplificada na impressão da string abaixo
print("testando\na quebra\nde linha")

Olá, Mundo!!!
Olá, Mundo!!!
testando
a quebra
de linha

Em síntese,
* **Tipos de dados** no Python mais usados são *int, float, str, bool*
    * **int** e **float**: dados quantitativos
    * **str**: dados categóricos ou qualitativos
    * **bool**: dados qualitativos

Lembrando que,
*    **comentários** são como notas ou explicações utilizadas para transmitir ou outra pessoa, ou a você mesmo, informações importantes sobre o código
*   o comando **print:** é uma função de saída utilizada em várias linguagens de programação para exibir mensagens ou valores na tela do computador
*   **\n**, em python, é usado para criar quebras de linha em um texto dentro da função *print*

## **VARIÁVEIS**

### **Introdução**

In [ ]:
# declarando variáveis
nome = "José"
sobrenome = "Oliveira"
idade = 36
altura = 1.79
filhos = True

In [ ]:

# exibindo valores das variáveis com função print individual
print(nome)
print(idade)
print(filhos)
print('-'*50)
# exibindo valores das variáveis com função print em conjunto
print(nome, idade, filhos)
print('-'*50)
# exibindo valores das variáveis com função print e f-string
print( f'As variáveis possuem o seguintes valores: \nnome: {nome}; \nidade: {idade}; \nfilhos: {filhos}.')

José
36
True
--------------------------------------------------
José 36 True
--------------------------------------------------
As variáveis possuem o seguintes valores:
nome: José;
idade: 36;
filhos: True.

**ATENÇÃO:** declarar a variável sem a função 'print' exibirá apenas os valores da última variável do boloc, pois uma exibição sobrescerve a outra; já com a função 'print', pode-se empilhar a exibição de variáveis

In [ ]:
# verificando tipos de variáveis
print("\nnome:", type(nome),
      "\nsobrenome:", type(sobrenome),
      "\nidade:", type(idade),
      "\naltura:", type(altura),
      "\nfilhos:", type(filhos))

nome: <class 'str'>
sobrenome: <class 'str'>
idade: <class 'int'>
altura: <class 'float'>
filhos: <class 'bool'>

**ATENÇÃO:** o python é 'case sensitive', ou seja, as variáveis e comandos de código fazem diferenciação entre letras maiúsculas e minúsculas

In [ ]:
# declarando variáveis com concatenação (+) e f-string
nome_completo = nome + " " + sobrenome
numero_favorito = idade + altura
print(f"Meu nome é {nome_completo} e meu número da sorte é {numero_favorito}!!")
print(f"Tipo de dado número favorito: {type(numero_favorito)}.")

Meu nome é José Oliveira e meu número da sorte é 37.79!!
Tipo de dado número favorito: <class 'float'>.

**ATENÇÃO:** somente podem ser adicionadas variáveis com mesma características, a exemplo 'str + str' ou 'int + int' ou 'int + float', neste último caso transformando será transformado em 'float', CONTUDO, vale a ressalva de que uma 'str' pode representar um numero de forma literal, ou seja, 'número pode ser string'

### **Nomes de Variáveis**

1. Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_)
2. Nunca pode começar com um número
3. Pode conter letras maiúsculas, minúsculas, números e subscrito
4. Não pode-se utilizar como parte do nome de uma variável:
{ ( + - * / \ ; . , ?
5. Letras maiúsculas e minúsculas importam em variáveis diferentes:
casa = 5 e
Casa = 2, quando chamadas geram resultado diferentes

### **Conversão de Variáveis**

In [ ]:
# integer
print("conversão INT para FLOAT")
num_int = 10
print("inteiro:", type(num_int), "\nvalor:", num_int)
num_float = float(num_int)
print("decimal:", type(num_float), "\nvalor:", num_float)

print("\nconversão INT para STR")
num_int = 10
print("inteiro:", type(num_int), "\nvalor:", num_int)
num_str = str(num_int)
print("texto:", type(num_str), "\nvalor:", num_str)

conversão INT para FLOAT
inteiro: <class 'int'>
valor: 10
decimal: <class 'float'>
valor: 10.0

conversão INT para STR
inteiro: <class 'int'>
valor: 10
texto: <class 'str'>
valor: 10

In [ ]:
# float
print("\nconversão FLOAT para INT")
num_float = 5.8
print("decimal:", type(num_float), "\nvalor:", num_float)
num_int = int(num_float)
print("inteiro:", type(num_int), "\nvalor:", num_int)
'''CUIDADO: nesse caso de conversão será DESCONSIDERADO o valor decimal!!!'''

print("\nconversão FLOAT para STR")
num_float = 5.8
print("decimal:", type(num_float), "\nvalor:", num_float)
num_str = str(num_float)
print("texto:", type(num_str), "\nvalor:", num_str)

conversão FLOAT para INT
decimal: <class 'float'>
valor: 5.8
inteiro: <class 'int'>
valor: 5

conversão FLOAT para STR
decimal: <class 'float'>
valor: 5.8
texto: <class 'str'>
valor: 5.8

In [ ]:
# string
print("\nconversão STR para INT")
num_str = "5"
print("texto:", type(num_str), "\nvalor:", num_str)
num_int = int(num_str)
print("inteiro:", type(num_int), "\nvalor:", num_int)

print("\nconversão STR para FLOAT")
num_str = "5.8"
print("texto:", type(num_str), "\nvalor:", num_str)
num_float = float(num_str)
print("decimal:", type(num_float), "\nvalor:", num_float)

conversão STR para INT
texto: <class 'str'>
valor: 5
inteiro: <class 'int'>
valor: 5

conversão STR para FLOAT
texto: <class 'str'>
valor: 5.8
decimal: <class 'float'>
valor: 5.8

## **OPERADORES**

### **Principais Operadores Matemáticos**

In [ ]:
# Adição
a = 5.887
b = 7.15

soma = a + b

print( f"A soma é: {soma}; arredondando para duas casas decimais: {soma:.2f}: do tipo de dado {type(soma)}.")

A soma é: 13.036999999999999; arredondando para duas casas decimais: 13.04: do tipo de dado <class 'float'>.

In [ ]:
# Subtração
a = 5.887
b = 7.15

subt = a - b

print( f"A subtração é: {subt}; arredondando para duas casas decimais: {subt:.2f}; do tipo de dado {type(subt)}.")

A subtração é: -1.2630000000000008; arredondando para duas casas decimais: -1.26; do tipo de dado <class 'float'>.

In [ ]:
# Multiplicação
a = 5.887
b = 7.15

mult = a * b

print( f"A multiplicação é: {mult}; arredondando para duas casas decimais: {round(mult, 2)}: tem o tipo de dado {type(mult)}.")

A multiplicação é: 42.09205; arredondando para duas casas decimais: 42.09: tem o tipo de dado <class 'float'>.

In [ ]:
# Divisão
a = 15.30
b = 7.15

divd = a/b

print( f"A divisão é: {divd}; arredondando para duas casas decimais: {divd:.2f}: tem o tipo de dado {type(divd)}.")

A divisão é: 2.13986013986014; arredondando para duas casas decimais: 2.14: tem o tipo de dado <class 'float'>.

#### **Outros Operadores Matemáticos**

In [ ]:
# parte inteira da divisão
idiv = 3//2

# resto de divisão
rdiv = 3%2

# potenciação
pot = 3**2

# radiciação - Exemplo: raiz quadrada de 4
rad = 3**(1/2)

### **Operadores de Comparação**

**Booleanos entre iguais**
(==) verifica se dois valores são **IGUAIS**, retornando *TRUE* ou *FALSE*, no caso
utilizando como exemplo a comparação entre valores numéricos e valores textuais

**Booleanos entre diferentes**
(!=) verifica se dois valores são **DIFERENTES**, retornando *TRUE* ou *FALSE*, no caso
utilizando como exemplo a comparação entre valores numéricos e valores textuais

In [ ]:
# Variáveis numéricas
a = 3
b = 2
c = 3.0

# Variáveis textuais
d = "jose"
e = "Jose"

In [ ]:
# Exibindo a comparação entre valores numéricos
print ("Variavel a é igual a variável c?", a==c)
print ("Variavel a é diferente da variável c?", a!=c)

print ( f'\nTipo de {a} é igual ao tipo de {b}? {(type(a))==(type(b))}.\nE comparando com {c}? {((type(a))==(type(c)))}.\nE o tipo de {b} é igual ao de {c}? {((type(b))==(type(c)))}\n')

print ( f'\nA tipagem de {a} é diferente da tipagem de {b}? {(type(a))!=(type(b))}.\nE comparando com {c}, é diferente? {((type(a))!=(type(c)))}.\nE a tipagem de {b} é diferente da tipagem de {c}? {((type(b))!=(type(c)))}\n')

# Exibindo a comparação entre valores textuais
print (f'A string "{d}" é igual a string "{e}"? {d==e}. \nO tipo da string "{d}" é o mesmo de "{e}"? {type(d)==type(e)}.')

Variavel a é igual a variável c? True
Variavel a é diferente da variável c? False

Tipo de 3 é igual ao tipo de 2? True.
E comparando com 3.0? False.
E o tipo de 2 é igual ao de 3.0? False


A tipagem de 3 é diferente da tipagem de 2? False.
E comparando com 3.0, é diferente? True.
E a tipagem de 2 é diferente da tipagem de 3.0? True

A string "jose" é igual a string "Jose"? False.
O tipo da string "jose" é o mesmo de "Jose"? True.

**Booleanos entre maior**
(>) verifica se um valor é **MAIOR**, retornando *TRUE* ou *FALSE*,
no caso utilizando como exemplo a comparação entre valores numéricos

**Booleanos entre menor**
(<)  verifica se um valor é **MENOR**, retornando *TRUE* ou *FALSE*,
no caso utilizando como exemplo a comparação entre valores numéricos

In [ ]:

print ( f'A variável "a"({a}) é maior do que a variável "b"({b}) ? {a>b}. \nA variável variável "c"({c}) é maior ou igual a variável "a"({a})? {c>=a}.\n')
print ( f'A variável "a"({a}) é menor do que a variável "b"({b}) ? {a<b}. \nA variável variável "c"({c}) é menor ou igual a variável "a"({a})? {c<=a}.')

A variável "a"(3) é maior do que a variável "b"(2) ? True.
A variável variável "c"(3.0) é maior ou igual a variável "a"(3)? True.

A variável "a"(3) é menor do que a variável "b"(2) ? False.
A variável variável "c"(3.0) é menor ou igual a variável "a"(3)? True.

### **Operadores de Atribuição**

In [ ]:
# atribuição DIRETA (=)
nome = "Jose Aurelio"
idade = 36
salario = 1200
print( f'Nome: {nome} \nIdade: {idade} \nSalario: {salario}\n')

# atribuição de soma (+=)
idade += 1
print ( f'No próximo aniversário, {nome} fará {idade} anos de idade.')

# atribuição de subtração (-=)
idade -=2
print ( f'No ano anterior, {nome} tinha {idade} anos de idade.')

# atribuição de multiplicação (*=)
salario *=2
print ( f'{nome} receberá do dobro de seu salario, o que equivale a {salario} reais')

# atribuição de divisão (/=)
salario /=2
print ( f'Para {nome} dobrar seu salario novamente, deverá receber {salario} reais')

# atribuição de divisão inteira (/=)
salario //=2
print ( f'A metade do salario inicial é {salario} reais')

# atribuição de resto (%=) de uma divisão por 2
idade %=2
print ( f'Resto {idade}')

# atribuição de divisão (**=)
salario **=2
print ( f'A metade do salario inicial ao quadrado será {salario}')

Nome: Jose Aurelio
Idade: 36
Salario: 1200

No próximo aniversário, Jose Aurelio fará 37 anos de idade.
No ano anterior, Jose Aurelio tinha 35 anos de idade.
Jose Aurelio receberá do dobro de seu salario, o que equivale a 2400 reais
Para Jose Aurelio dobrar seu salario novamente, deverá receber 1200.0 reais
A metade do salario inicial é 600.0 reais
Resto 1
A metade do salario inicial ao quadrado será 360000.0

### **Operadores Lógicos**

In [ ]:
# (and ou &) retorna TRUE somente quando todas as condições forem satisfeitas
teste_and_one = 3 < 2 and 3!= 2 and 3<4
teste_and_two = (3 < 2) & (3!= 2) & (3<4)
print (f'Operando com "and" ("one") {teste_and_one} e operando com "&" ("two") {teste_and_two}')

# (or) retorna TRUE quando uma das condições for satisfeita
teste_or_one = 3 >= 2 or 3!= 2 or 3<4
teste_or_two = (3 >= 2) | (3!= 2) | (3<4)
print (f'Operando com "or" ("one") {teste_or_one} e operando com "|" ("two") {teste_or_two}')

Operando com "and" ("one") False e operando com "&" ("two") False
Operando com "or" ("one") True e operando com "|" ("two") True

In [ ]:
#(not) inverte a sentença passada
teste_not_one = not(teste_and_one)
teste_not_two = not(teste_or_one)
print (f'Aplicando "not" nas variáveis analisadas anteriormente para AND ONE {teste_not_one} e OR ONE {teste_not_two}')

# (not in) aplicado em uma lista
lista_A = ['a', 'b', 'c', 'd']
lista_B = ['d', 'e', 'f', 'g']

print('Aplicando o "not in" para obter elementos diferentes entre duas listas:')
for n in lista_B:
  if n not in lista_A:
    print( f'O elemento {n} não consta na lista A.')

Aplicando "not" nas variáveis analisadas anteriormente para AND ONE True e OR ONE False
Aplicando o "not in" para obter elementos diferentes entre duas listas:
O elemento e não consta na lista A.
O elemento f não consta na lista A.
O elemento g não consta na lista A.

### **Operadores de Identidade**

In [ ]:
# (is) compara valor e tipo de um objeto
h = 3
p = 3.0

result_atribuicao = p == h
result_is = p is h

print ( f'Enquanto resultado da ATRIBUIÇÃO engloba apenas o valor (3 e 3.0): {result_atribuicao}; o resultado de IS abrange valor e tipo (3 e 3.0; int e float): {result_is}')

# (is not)
h1 = 4
p1 = 3

print ( f'A variável h é DIFERENTE de h1? { h is not h1}')
print ( f'A variável h é DIFERENTE de p1? { h is not p1}')
print ( f'A variável p é DIFERENTE de h1? { p is not h1}')
print ( f'A variável p é DIFERENTE de p1? { p is not p1}')

print( f'Lembrando que o resultado é diferente quando se usa "!=" e "IS NOT", pois no primeiro se considera APENAS o valor: {p!=p1} e no segunto TAMBÉM o tipo: {p is not p1}')

Enquanto resultado da ATRIBUIÇÃO engloba apenas o valor (3 e 3.0): True; o resultado de IS abrange valor e tipo (3 e 3.0; int e float): False
A variável h é DIFERENTE de h1? True
A variável h é DIFERENTE de p1? False
A variável p é DIFERENTE de h1? True
A variável p é DIFERENTE de p1? True
Lembrando que o resultado é diferente quando se usa "!=" e "IS NOT", pois no primeiro se considera APENAS o valor: False e no segunto TAMBÉM o tipo: True

### **Operadores de Associação**

In [ ]:
# (in) retorna TRUE ou FALSE se um caracter ou sequencia de caracteres está dentro de uma string for encontrado
string_name = "Aurelio"

print (f'O trissilabo "Aur" está contido no nome "Aurelio"? {"Aur" in string_name}')

# (not in) retorna TRUE ou FALSE se um caracter ou sequencia de caracteres NÃO ESTÁ dentro de uma string for encontrado
print (f'O trissilabo "Aur" NÃO está contido no nome "Aurelio"? {"Aur" not in string_name}')

O trissilabo "Aur" está contido no nome "Aurelio"? True
O trissilabo "Aur" NÃO está contido no nome "Aurelio"? False

## **INPUT**

In [ ]:
# Inclusão pelo usuário da string nome na variável insert_name
insert_name = input ('Insira o nome: ')

# Inclusão pelo usuário do número do tipo float nome na variável insert_w
insert_w = float(input ('Informe o peso em kg: '))

# Inclusão pelo usuário do número do tipo float nome na variável insert_h
insert_h = float(input ('Informe a altura em metros '))

# Inclusão pelo usuário do número do tipo integer nome na variável insert_w
insert_age = int(input('Qual sua idade em anos? '))

In [ ]:
# Fórmula para cálculo do IMC
imc = insert_w/insert_h**2

# Exibição inseridos pelo usuário e resultado da fórmula IMC com 2 casas decimais
print (f'{insert_name}, seu IMC é {imc:.2f}!')

José, seu IMC é 26.53!

## **STRINGS**

### **Introdução**

In [ ]:
# Inicialmente, vale lembrar que em Python as strings são conjuntos de caracteres, os quais são contados a partir do zero!
# Assim sendo, a palavra "python", tem como caracter no índice 0 (python[0]) a letra "p" e na última posição, isto é, índice 5 (pyhton[5]) a letra "n".

python = "python"
print(f' Quais caracteres da string (índices 0 a 5)? "{python[:]}"')
print(f' O primeiro elemento da palavra python é "{python [0]}" e o último "{python [5]}".')

 Quais caracteres da string (índices 0 a 5)? "python"
 O primeiro elemento da palavra python é "p" e o último "n".

In [ ]:
# relizando SLICE em uma string
print (f' Quais caracteres se encontra APÓS a segunda posição ou índice 1? "{python[2:]}"')
print (f' Quais caracteres se encontra ATÉ a segunda posição ou índice 1? "{python[:2]}"')
print (f' Quais os caracteres no intervalo entre índice 2(considera | inclusivo) e 4(não considera | exclusivo) da string? "{python[2:4]}"')
print (f' Quais os caracteres no intervalo entre índice 2(considera | inclusivo) e 4(não considera | exclusivo) da string? "{python[0:3]}"')

 Quais caracteres se encontra APÓS a segunda posição ou índice 1? "thon"
 Quais caracteres se encontra ATÉ a segunda posição ou índice 1? "py"
 Quais os caracteres no intervalo entre índice 2(considera | inclusivo) e 4(não considera | exclusivo) da string? "th"
 Quais os caracteres no intervalo entre índice 2(considera | inclusivo) e 4(não considera | exclusivo) da string? "pyt"

In [ ]:
# índice reverso
print(f' Qual último caractere da string? "{python[-1]}"')
print(f' Quais os caracteres do intervalo de índices -3 a 5? "{python[-3:5]}"')

 Qual último caractere da string? "n"
 Quais os caracteres do intervalo de índices -3 a 5? "ho"

### **LEN**

In [ ]:
# LEN - comprimento da string (número de elementos)
print(f' Qual o número de caracteres da string? "{len(python)}"')

 Qual o número de caracteres da string? "6"

### **Concatenação**

In [ ]:
# o operador (+) funciona como CONCATENAR para as strings
print (f'Inserindo a palavra "básico" na string já existente: {python + " " + "básico"}')

Inserindo a palavra "básico" na string já existente: python básico

### **CAPITALIZE, CASEFOLD, UPPER, LOWER, TITLE**

In [ ]:
# (capitalize) transformar PRIMEIRA letra da string em maiúscula
first_str = python.capitalize()
print(first_str)

# (casefold) transformar PRIMEIRA letra da string em minúscula
first_str = python.casefold()
print(first_str)

# (upper) transformar toda string em maiúscula
upper_str = first_str.upper()

# (lower) transformar toda string em minúscula
lower_str = first_str.lower()

print(f'Transformando a palavra "{first_str}" toda em maiúscula "{upper_str}" e em seguida toda para minúscula "{lower_str}".')

# (title) primeira letra de CADA PALAVRA em maiúsculo
note = 'jose aurelio oliveira'
note_cap = note.capitalize()
note_title = note.title()
print(f'Palavra toda em minúsculo "{note}", quando aplicado o "capitalize" fica apenas com a primeira palavra em maiúsculo "{note_cap}" \ne quando aplicado "title" fica com todas as palavras em maiúsculo "{note_title}".')

Python
python
Transformando a palavra "python" toda em maiúscula "PYTHON" e em seguida toda para minúscula "python".
Palavra toda em minúsculo "jose aurelio oliveira", quando aplicado o "capitalize" fica apenas com a primeira palavra em maiúsculo "Jose aurelio oliveira"
e quando aplicado "title" fica com todas as palavras em maiúsculo "Jose Aurelio Oliveira".

### **COUNT**

In [ ]:
# (count) contar quantas vezes um caracter aparece em uma string
material = 'paralelepípedo'
qtde_p = material.count('p')
print(f'{material} tem {qtde_p} Ps')

paralelepípedo tem 3 Ps

### **STRARTSWITH, ENDSWITH**

In [ ]:
# (startswith) verifica se uma string começa com um caracter ou sequencia de caracteres
email = 'doug@gmail.com'
teste_end = email.startswith('doug')
print(teste_end)

# (endswith) Verifica se uma string termina com um caracter ou sequencia de caracteres
email = 'doug@gmail.com'
teste_end = email.endswith('gmail.com')
print(teste_end)

True
True

### **ISNUMERIC, ISALPHA, ISALNUM**

In [ ]:
# (isnumeric) verifica se uma string é formada por números
informa0 = '11153578'
str_isnum = informa0.isnumeric()
print(f'A palavra "{informa0}" é numérica? {str_isnum}')

# (isalpha) verifica se uma string é formada por letras
informa1 = 'jose'
str_alpha = informa1.isalpha()
print(f'A palavra "{informa1}" é alfabético? {str_alpha}')

# (isnumeric) verifica se uma string é 'alphanumeric' (retorna True para isalpha, isecimal, isdigit ou isnumeric)
informa2 = 'abc2'
str_isalpha = informa2.isalnum()
print(f'A palavra "{informa2}" é numérica e/ou alfabética? {str_isalpha}')

A palavra "11153578" é numérica? True
A palavra "jose" é alfabético? True
A palavra "abc2" é numérica e/ou alfabética? True

### **SPLIT**

In [ ]:
# (split) cortar ou seccionar
dados = input('informe os valores: ')

split_data = dados.split(input("Informe o separador: "))

print(f'O resultado do método split é uma lista: {split_data}')

O resultado do método split é uma lista: ['10 20 30 40']

### **STRIP**

In [ ]:
# (strip) elimina caracteres indesejados - default: remove espaços no início e no fim da string
xstr = " Aurelio "
print(xstr, len(xstr))

strip_xstr = xstr.strip()
print(strip_xstr, len(strip_xstr))

ystr = " Aur elio "
print(ystr, len(xstr))

strip_ystr = ystr.strip()
print(strip_ystr, len(strip_ystr))

 Aurelio  9
Aurelio 7
 Aur elio  9
Aur elio 8

### **REPLACE**

In [ ]:
# (replace) substitui um caracter por outro
preco = 'R$ 10.50'
print(preco)
preco_rep = preco.replace('.', ',')
print(preco_rep)

R$ 10.50
R$ 10,50

## **ESTRUTURA DE CONDIÇÃO**

### **IF, ELIF e ELSE**

In [ ]:
# Entrada de valor inteiro para idade
idade = int(input('Qual sua idade: '))

# Condição verdadeira
if idade >= 18:
  print("Entrada autorizada!")
# Condição não verdadeira
else:
  print("Apresente autorização do responsável!")

Entrada autorizada!

In [ ]:
# Entrada de valor inteiro para idade
idade = int(input('Qual sua idade: '))

# Condição um verdadeira, encerra o loop
if idade >= 18:
  print("Entrada autorizada!")
# Condição um falsa, avalia se condição dois é verdadeira, encerra o loop
elif idade >=16 and idade <18:
  print("Apresente autorização do responsável!")
# Condições um e dois não verdadeiras
else:
  print("Vai para casa, piá!")

Entrada autorizada!

In [ ]:
# Entrada de valor decimal para os lados do triângulo
lado_A = float(input( 'Insira o primeiro lado: '))
lado_B = float(input( 'Insira o segundo lado: '))
lado_C = float(input( 'Insira o terceiro lado: '))

# Condição inicial para verificar a formação triangular
if lado_A < (lado_B + lado_C) and lado_B < (lado_A + lado_C) and lado_C < ( lado_A + lado_B):
  # Caso a condição antecedente seja verdadeira, serão verificadas as condições abaixo para o tipo de triângulo formado
  if lado_A == lado_B and lado_B == lado_C and lado_A == lado_C:
    print( f'Triângulo Equilátero')
  elif lado_A == lado_B or lado_B == lado_C or lado_A == lado_C:
    print( f'Triângulo Isósceles')
  else:
    print( f'Triângulo Escaleno')
# Encerramento sem formação triangular
else:
  print( 'As medidas não representam um triângulo!!!')

Triângulo Isósceles

## **ESTRUTURA DE DADOS**

### **LISTAS**

In [ ]:
# As listas em python são estruturas de dados
# As listas  aceitam o armazenamento de todo tipo de dado, de forma homogênea (mesmo tipo) ou heterogênea (tipos diferentes)
lista = [1, 'a', 2, 'b']
print(lista)

[1, 'a', 2, 'b']

### **ADIÇÃO**

In [ ]:
# Existem algumas formas para adicionar elementos em uma lista python

# atribuição DIRETA
lista[-1] = 'z'
print(lista)

# (append) adiciona um únimo elemento de cada vez
lista.append(0)
print(lista)

# (extend) adiciona elementos de outra lista ou iteráveis
lista.extend([3, 'd'])
print(lista)

# (insert) adiciona elemento em uma determinada posição, portanto, possui dois argumentos
lista.insert(5, 'c')
print(lista)

[1, 'a', 2, 'z']
[1, 'a', 2, 'z', 0]
[1, 'a', 2, 'z', 0, 3, 'd']
[1, 'a', 2, 'z', 0, 'c', 3, 'd']

### **LOCALIZAÇÃO**

In [ ]:
# Localizando elementos de uma lista pythons

# (índice reverso)
cz = lista[-1]
print( f'Utilizando o índice reverso, ou seja, aplicando valor negativo ao índice de uma lista, obtem-se o elemento desejado : "{cz}"!')

# (index) localiza index de um valor procurado, percorrendo index de ínicio e de fim da pesquisa
target = 0
indice_inicial = 3
indice_final = 5
cw = lista.index(target, indice_inicial, indice_final )
print( f'Outra maneira é a consulta realizada pelo índice correspondente, obtendo assim a posição do elemento procurado "{cw}" para o elemento "{target}"!')

Utilizando o índice reverso, ou seja, aplicando valor negativo ao índice de uma lista, obtem-se o elemento desejado : "d"!
Outra maneira é a consulta realizada pelo índice correspondente, obtendo assim a posição do elemento procurado "4" para o elemento "0"!

### **EXCLUSÃO**

In [ ]:
# Removendo elementos de uma lista

print(lista)

# (pop)remove um item em uma dada posição na lista e o retorna
lista.pop(4)
print(lista)

# (remove) remove o primeiro item encontrado na lista cujo valor é igual a x
lista.remove('c')
print(lista)

# (clear) remove TODOS os elementos de uma lista
lista.clear()
print (lista)

[1, 'a', 2, 'z', 0, 'c', 3, 'd']
[1, 'a', 2, 'z', 'c', 3, 'd']
[1, 'a', 2, 'z', 3, 'd']
[]

### **Aplicação**

In [ ]:
lista_entrada = ['José','Aurelio','Oliveira']
lista_peso = [85.0, 86.0, 75.0]
lista_altura = [1.79, 1.90, 1.70]

nome = input( 'Informe o nome a ser localizado: ').capitalize()

if nome in lista_entrada:
  ind = lista_entrada.index(nome)
  imc = lista_peso[ind]/(lista_altura[ind]**2)
  print(f'{nome} tem IMC de: {int(imc)}')
else:
  print( f'O nome {nome} não está na lista!')

Aurelio tem IMC de: 23

### **LEN, MAX, MIN, SUM, COUNT, SORT**

In [ ]:
# criação de listas como exemplo
lista_nome = ['jose', 'aurelio', 'oliveira']
lista_numero = [1, 7, 0, 50, -10, 0]

In [ ]:
# (len) tamanho de uma lista
tamanho = len(lista_nome)
print( f'A lista nome possui {tamanho} elementos')

# (max) maior valor numerico ou palavra com inicial em maior ordem alfabética
maximo_numero = max(lista_numero)
maximo_nome = max(lista_nome) # considera a letra inicial
print( f'O maior número encontrado na lista numérica é {maximo_numero}, e a palavra com inicial menor precedência na ordem alfabética é "{maximo_nome.capitalize()}"')

# (min) menor valor numerico ou palavra com inicial em menor ordem alfabética
minimo_numero = min(lista_numero)
minimo_nome = min(lista_nome) # considera a letra inicial
print( f'O menor número encontrado na lista numérica é {minimo_numero}, e a palavra com inicial maior precedência na ordem alfabética é "{minimo_nome.capitalize()}"')

# (sum) soma de valores numéricos
soma = sum(lista_numero)
print( f'O somatório dos valore numéricos da lista é {soma}.')

# (count) frequência de um valor
contar = lista_numero.count(0)
print( f'O número "0" (zero) aparece {contar} vezes na lista.')

# (sort) ordenação de elementos
    #crescente
lista_nome.sort()
print(lista_nome)
    #decrescente
lista_numero.sort( reverse=True)
print(lista_numero)

A lista nome possui 3 elementos
O maior número encontrado na lista numérica é 50, e a palavra com inicial menor precedência na ordem alfabética é "Oliveira"
O menor número encontrado na lista numérica é -10, e a palavra com inicial maior precedência na ordem alfabética é "Aurelio"
O somatório dos valore numéricos da lista é 48.
O número "0" (zero) aparece 2 vezes na lista.
['aurelio', 'jose', 'oliveira']
[50, 7, 1, 0, 0, -10]

### **RANGE**

In [ ]:
# criação de lista com valores numéricos de n valores inteiros entre 0 e n-1
lista_r1 = list(range(5))
print(lista_r1)

# criação com dois argumentos com n valores inteiros informando o início (primeiro argumento) até e o fim (último argumento) n-1
lista_r2 = list(range(1,5))
print(lista_r2)

# criação com três argumentos com n valores indicando o início (primeiro argumento), o fim (último argumento) n-1 e o intervalo entre os elementos
lista_r3 = list(range(1, 6, 2))
print(lista_r3)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 5]

## **TRATAMENTO DE ERROS**

In [ ]:
# lista
lista_inicial= ['a', 'b', 'c', 'd', 'e']

### **IF/ELSE**

In [ ]:
# entrada de dados
localiza_str= input( 'Informe uma letra a ser excluída: ').lower()

# removendo nome da lista com a condição SE VERDADEIRO
condse= localiza_str
listase = lista_inicial
if condse in listase:
  listase.remove(condse)
  print( 'Localizada e excluída com sucesso da lista!')
else:
  print( f'A letra "{condse}" não foi encontrada na lista!')

Localizada e excluída com sucesso da lista!

### **TRY/EXCEPT**

In [ ]:
# entrada de dados
localiza_str= input( 'Informe uma letra a ser excluída: ').lower()

# removendo nome da lista com TRY/EXCEPT
condtry = localiza_str
listatry = lista_inicial
try:
  listatry.remove(condtry)
  print( 'Localizada e excluída com sucesso da lista!')
except:
  print( f'A letra "{condtry}" não foi encontrada na lista!')

A letra "b" não foi encontrada na lista!

## **ESTRUTURA DE REPETIÇÃO**

### **FOR**

In [ ]:
# Lista com valores predefinidos
pesos = [75, 72, 79, 85, 89]

# Listas vazias
up_media = []
down_media = []

# Fórmmula para cálculo da média
media = int(sum(pesos)/len(pesos))

# Laço FOR
for peso in pesos:
  if peso > media:
    up_media.append(peso)
  elif peso < media:
    down_media.append(peso)
  else:
    print( f'Valor de {peso} é igual a média.')

# Exibição dos resultados
print( f'Dentro da lista apresentada, os pesos {up_media} estão acima da média e os pesos {down_media} abaixo. A média é {media}.')

Dentro da lista apresentada, os pesos [85, 89] estão acima da média e os pesos [75, 72, 79] abaixo. A média é 80.

In [ ]:
# Lista com valores predefinidos
notas = [5, 9, 6, 8, 7]

# Laço FOR
for i in notas:
  if i >= 7:
    print( f"Aprovado - nota {i}")
  else:
    print( f"Reprovado - nota {i}")

Reprovado - nota 5
Aprovado - nota 9
Reprovado - nota 6
Aprovado - nota 8
Aprovado - nota 7

### **FOR + ENUMERATE**

In [ ]:
# índice 0  1  2  3  4 (i)
# valor  5  9  6  8  7 (v)
notas = [5, 9, 6, 8, 7]
cont = 0

# Laço FOR com o método enumerate, seprando valor(v) e índice(i)
for i, v in enumerate(notas):
  cont +=1
  if v >= 7:
    print( f'{cont}. Aprovado - nota {v} - índice {i}\n')
  else:
    print( f'{cont}. Reprovado - nota {v} - índice {i}\n')

1. Reprovado - nota 5 - índice 0

2. Aprovado - nota 9 - índice 1

3. Reprovado - nota 6 - índice 2

4. Aprovado - nota 8 - índice 3

5. Aprovado - nota 7 - índice 4

### **FOR + RANGE + LEN**

        * Percorrer o for em uma estrutura delimitando índice(n) e valor(índice(n)), respectivamente
        * RANGE delimita o intervalo que será aplicada a procura
        * LEN define o comprimento do intervalo

In [ ]:
# Criação de variável (contador) com valor zero para contagem de repetições do laço FOR
cont = 0

# Laço FOR
for n in range(len(notas)):
  cont += 1
  print( f'Seq.{cont}:')
  print( f' A posição | índice da lista é :{n}')
  print( f' O valor correspondente a posição | índice na lista é :{notas[n]}\n')

Seq.1:
 A posição | índice da lista é :0
 O valor correspondente a posição | índice na lista é :5

Seq.2:
 A posição | índice da lista é :1
 O valor correspondente a posição | índice na lista é :9

Seq.3:
 A posição | índice da lista é :2
 O valor correspondente a posição | índice na lista é :6

Seq.4:
 A posição | índice da lista é :3
 O valor correspondente a posição | índice na lista é :8

Seq.5:
 A posição | índice da lista é :4
 O valor correspondente a posição | índice na lista é :7

### **Aplicação**

In [ ]:
# entrada
input_one = input( 'Digite uma lista de números inteiros separados por espaços: ')
input_two = input( 'Digite outra lista com a mesma quantidade de números inteiros da anterior, também separados por espaços: ')

# lista split
x = list(input_one.split(" "))
y = list(input_two.split(" "))

# filtro de igualdade de número de elementos
if len(x) != len(y):
  print('Programa encerrado!')

else:
# conversão
  lista_aux = [x, y]
  for lista in lista_aux:
    for i, v in enumerate(lista):
      if type(v) != int:
        lista[i] = int(v)
      else:
        pass

# lista nova
  xquad = []
  yquad = []
  xy = []

# alocação
  for n in x:
    xquad.append(n**2)

  for n in y:
    yquad.append(n**2)

  for i, v in enumerate(x):
    xy.append(v*y[i])

# soma
  sx = sum(x)
  sy = sum(y)
  sxquad = sum(xquad)
  syquad = sum(yquad)
  sxy = sum(xy)

  print( f'Soma de x: {sx} \nSoma de y: {sy} \nSoma de xquad: {sxquad} \nSoma de yquad: {syquad} \nSoma de xy: {sxy}')

Soma de x: 213
Soma de y: 151
Soma de xquad: 16105
Soma de yquad: 9379
Soma de xy: 11608

### **WHILE**

In [ ]:
# while ou enquanto executa comandos enquanto a condição, via de regra, for verdadeira

# contador
cont = 0

# entrada de dados
entrada = int(input ( 'Insira o número de repetições: '))

# lista vazia para alocação de valores
lista_vazia = []

# loop WHILE
while cont < entrada:
  lista_vazia.append(cont)
  cont += 1

# exibição da lista
print(lista_vazia)

[0, 1, 2, 3, 4]

In [ ]:
# leitura dos numeros informados pelo usuário e acrescentar os 5 primeiros ímpares a lista

# lista vazia para alocação de valores
numeros = []

# loop WHILE
while len(numeros) < 5:
  n = int(input('Informe um número inteiro: '))
  if n%2 != 0:
    numeros.append(n)

# exibição da lista
print(numeros)

[5, 5, 5, 5, 5]

In [ ]:
# criando contador e lista
cont = 0
lista_num = []

# aplicação do loop
while True:
  try:
    quant = int(input('Informe a quantidade de números inteiros que deseja na lista: '))
    break
  except:
    pass
  print('Por favor, digite número inteiro!')
while cont < quant:
  try:
    numero = int(input( f'Informe o {cont+1}º inteiro da lista: '))
    lista_num.append(numero)
    cont+= 1
  except:
    pass
    print( f'Cuidado! Digitar {cont+1}º numero inteiro novamente: ')

print( f'A soma dos valores digitados é {sum(lista_num)}')

A soma dos valores digitados é 25

# **FIM**

Estes foram os principais fundamentos aboradados durante o curso!